header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #161616;
  justify-content: center;
}
.logo{
 position: absolute;
 left: 9.5vh;
}
.logo img {
  width: 60px;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu ul {
  display: flex;
  gap: 20px;
}

.nav-menu li {
  text-transform: uppercase;
  padding: 10px 15px;
}

.nav-menu a {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
}
.nav-menu a:hover {
  color: #999;
}

.btn-mobile {
  cursor: pointer;
  display: none;
}

@media (max-width:1024px ){
  header{
    justify-content: space-around;
  }
  .logo{
    position: static;
  }
}

@media (max-width: 600px) {
  .nav-menu ul {
    flex-direction: column;
    display: none;
  }
  .btn-mobile{
    display: block;
  }
  .nav-menu.active ul{

  }
}